.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.main{
    width: 700px;
    height: 500px;
    text-align: center;
    grid-column: 2;
    display: flex;
}

.cardsView{
    background-color: black;
    align-items: center;
    width: 500px;
    height: 100%;
}


.header{
    height: 30px;
    background-color: rgb(49, 49, 49);
}

.cards{
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.cardItem{
    height: 120px;
    width: 200px;
    background-color: darkorange;
    margin: 10px;
    border-radius: 7px;
    align-items: center;
    
}

button{
    border-radius: 7px;
    background-color: white;
    padding: 5px;
    margin: 2px;
    height: 25px;
}