button{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px;
    margin: 2px;
    height: 30px;
    width: 90px;
    font-size: medium;
}

.header{
    height: 40px;
    background-color: rgb(49, 49, 49);
}